# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#VS Files
Debug/
/Debug/
ipch/
/ipch/
scada_server.VC
/scada_server.VC
scada_server/Debug/
/scada_server/Debug/
scada_server.VC.db
scada_server.VC.VC.opendb
/scada_server.VC.db
/scada_server.VC.VC.opendb
/.vs
.vs
/.vs/*

